numpy
psycopg2-binary
gunicorn
djangorestframework-jsonapi
daphne
channels
django-redis
celery
redis
qiskit
qutip
requests
flask
flask-jwt-extended
flask-cors
flask-restful
Werkzeug
Jinja2
click
openapi-spec-validator
openapi-core
cryptography
pycryptodome
qiskit-nature
qiskit-ibm-catalog
qiskit-aer
sqlalchemy
Babel
flask_sqlalchemy
sendgrid
spacepy
PyWavelets
MDAnalysis
psychtoolbox
tensorly
xgboost
scikit-learn
scipy
matplotlib
pandas
seaborn
biopython
scikit-bio
scikit-image
hyperspy
geopandas
shapely
torch
cupy-cuda11x
dask[complete]
numba
jupyter
notebook
qiskit-serverless<0.22.0
qiskit-ibm-provider
qiskit-ibm-runtime
qiskit[visualization]
gradio==3.3.0
gradio-client==0.2.0
protobuf==3.20.3
scipy
torch
sentencepiece
transformers
ctransformers
tensorflow
keras
boto3
paramiko
platformio
rosdep
rospkg
roslibpy
pymed
pyscf
ngcsdk
opentelemetry-sdk>=1.18.0,<2
qiskit-serverless>=0.18.0,<0.19.0
opentelemetry-semantic-conventions>=0.46b0,<1